.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.project-card {
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    box-shadow: 0 0 40px rgba(0, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease-out, box-shadow 0.3s ease-out, border-color 0.3s;
}

.project-card:hover {
    transform: scale(1.02);
    border-color: #00FFFF;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
}

.project-card:hover .description {
    color: #ffffff;
}

.project-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.project-info h3 {
    font-size: 1.4rem;
    color: #00FFFF;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag {
    flex-shrink: 0;
    font-size: 0.75rem;
    font-family: var(--font-third), monospace;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 16px;
    background-color: #FFFFFF;
    color: #000;
}

.description {
    font-size: 0.95rem;
    font-family: var(--font-secondary), sans-serif;
    color: #b0b0b0;
    margin-bottom: 20px;
    flex-grow: 1;
    transition: all 0.3s;
    line-height: 1.5;
}

.project-link {
    font-size: 0.9rem;
    color: #00FFFF;
    text-decoration: none;
    transition: color 0.2s;
    padding: 5px 0;
    display: inline-block;
}

.header-group.project-header h1 {
    fill-size: 1em;
    color: #fff;
}

.project-link:hover {
    color: white;
    text-decoration: underline;
}

.icon-arrow-go {
    margin-top: 3px;
}

.private-link {
    color: #ff6666 !important;
    cursor: default;
}

@media (max-width: 480px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}