:root {
    --accent-color: #0098ee;
    --card-bg: #1a1a1a;
    --code-bg: #121212;
    --text-dim: #888888;
}

.code-container {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 180px);
}

.code-section {
    display: flex;
    flex-direction: column;
    min-height: 0;
    background: var(--card-bg);
    padding: 30px;
    border-radius: 28px;
    box-shadow: 0 0 50px rgba(0, 152, 238, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.code-section h2 {
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-size: 1.8rem;
    text-align: center;
}

.tab-container {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
    background: transparent;
    padding: 0;
    width: fit-content;
    align-self: center;
}

.tab-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    font-size: 1rem;
    font-weight: bold;
    background: #24292f;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
    opacity: 0.5;
}

.tab-btn:hover {
    opacity: 0.8;
    box-shadow: 0 0 12px #24292f;
    transform: translateY(-2px);
}

.tab-btn.active {
    opacity: 1;
    background: var(--accent-color);
    box-shadow: 0 0 20px rgba(0, 152, 238, 0.6);
}

.tab-btn:hover:not(.active) {
    color: white;
    background: rgba(255, 255, 255, 0.05);
}

.code-block-wrapper {
    position: relative;
    margin-top: 5px;
    padding: 25px;
    background-color: var(--code-bg);
    border-radius: 16px;
    flex: 1;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.code-block-wrapper::-webkit-scrollbar {
    width: 0;
}

.code-block-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

.code-block-wrapper::-webkit-scrollbar-thumb {
    background: transparent;
}

.code-block-wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color);
}

.copy-btn-sticky-wrapper {
    position: sticky;
    top: -10px;
    right: 0;
    z-index: 100;
    height: 0;
    display: flex;
    justify-content: flex-end;
}

.o-copy-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    color: #888888;
    cursor: pointer;
    font-size: 0.85rem;
    border: rgba(255, 255, 255, 0.15);
    padding: 8px 8px;
    transition: all 0.2s;
    border-radius: 50%;
}

.o-copy-btn:hover {
    position: sticky;
    color: #ffffff;
}

.o-copy-btn svg {
    opacity: 0.8;
}