.firework-root {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Russo One", arial, sans-serif;
    line-height: 1.25;
    letter-spacing: 0.06em;
    overflow: hidden;
}

.firework-root *,
.firework-root *::before,
.firework-root *::after {
    box-sizing: border-box;
    position: relative;
}

.firework-root .hide {
    opacity: 0;
    visibility: hidden;
}

.firework-root .remove {
    display: none !important;
}

.firework-root .blur {
    filter: blur(12px);
}

.firework-root .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firework-root .loading-init {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.firework-root .loading-init__header {
    font-size: 2.2em;
}

.firework-root .loading-init__status {
    margin-top: 1em;
    font-size: 0.8em;
    opacity: 0.75;
}

.firework-root .stage-container {
    overflow: hidden;
    box-sizing: initial;
    border: 1px solid #222;
}

@media (max-width: 840px) {
    .firework-root .stage-container {
        border: none;
    }
}

.firework-root .canvas-container {
    width: 100%;
    height: 100%;
    transition: filter 0.3s;
}

.firework-root .canvas-container canvas {
    position: absolute;
    mix-blend-mode: lighten;
    transform: translateZ(0);
}

.firework-root .controls {
    position: absolute;
    top: 0;
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    transition: opacity 0.3s, visibility 0.3s;
}

.firework-root .menu {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.42);
    transition: opacity 0.3s, visibility 0.3s;
}

.firework-root .menu__inner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    transition: opacity 0.3s;
}

.firework-root .menu__header {
    margin-top: auto;
    font-size: 2em;
    text-transform: uppercase;
}

.firework-root .menu__subheader {
    margin-bottom: auto;
    font-size: 0.86em;
    opacity: 0.8;
}

.firework-root .menu form {
    width: 100%;
    max-width: 400px;
    padding: 0 10px;
    overflow: auto;
}

.firework-root .form-option {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.firework-root .form-option label {
    width: 50%;
    padding-right: 12px;
    text-align: right;
    text-transform: uppercase;
    user-select: none;
}

.firework-root .form-option--select select {
    width: 50%;
    height: 30px;
    font-size: 1rem;
    font-family: inherit;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.firework-root .form-option--select select option {
    background-color: black;
}

.firework-root .form-option--checkbox input {
    width: 26px;
    height: 26px;
    opacity: 0.5;
}

.firework-root .btn {
    all: unset;
    box-sizing: border-box;

    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.16;
    cursor: pointer;

    background: transparent;
    border-radius: 0;
}


.firework-root .btn--bright {
    opacity: 0.5;
}

.firework-root .btn svg {
    margin: auto;
}

.firework-root .credits {
    margin-top: auto;
    font-size: 0.8em;
    opacity: 0.75;
}

.firework-root .credits a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.firework-root .help-modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.firework-root .help-modal.active {
    visibility: visible;
}

.firework-root .help-modal__overlay {
    position: absolute;
    inset: 0;
}

.firework-root .help-modal__dialog {
    max-width: 400px;
    padding: 20px;
    border-radius: 0.3em;
    background-color: rgba(0, 0, 0, 0.4);
}
