.navbar {
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.3rem 0.5rem;
    display: flex;
    backdrop-filter: blur(5px);
    justify-content: center;
}

.nav-links {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1em;
    padding: 7px 12px;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
    background-color: var(--accent-color);
    transform: translateY(-1px);
}

@media (max-width: 600px) {
    .nav-links {
        flex-wrap: wrap;
    }
    .nav-link {
        font-size: 1.5rem;
        padding: 0.5rem 0.25rem;
        flex-grow: 1;
        text-align: center;
    }
}