.navbar {
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.3rem 0.5rem;
    display: flex;
    backdrop-filter: blur(5px);
    justify-content: center;
}

.nav-links {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1em;
    padding: 7px 12px;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
    background-color: var(--accent-color);
    transform: translateY(-1px);
}

.header-group {
    display: flex;
    align-items: center;
}

#avatar {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2px;
    margin-top: 1px;
    transition: transform 0.3s ease;
}

@media (max-width: 600px) {
    .nav-links {
        flex-wrap: wrap;
        gap: 0px;
    }
    .nav-link {
        font-size: 0.75rem;
        padding: 0.5rem 0.5rem;
        flex-grow: 1;
        text-align: center;
    }
    #avatar {
        width: 1.5rem;
        height: 1.5rem;
    }
}