/* src/components/Projects.css */

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    background-color: rgba(30, 30, 30, 0.9);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(0, 255, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 180px;
    transition: transform 0.15s, box-shadow 0.3s;
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 25px rgba(0, 255, 0, 0.2);

    .description {
        color: #ffffff;
    }
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.project-card h3 {
    font-size: 1.4rem;
    color: var(--accent-color);
    margin: 0;
}

.description {
    font-size: 0.95rem;
    color: #b0b0b0;
    margin-bottom: 20px;
    flex-grow: 1;
}

.tag {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 16px;
    background-color: var(--text-color);
    color: #000;
}

.links {
    margin-top: 10px;
}

.project-link {
    font-size: 0.9rem;
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.2s;
    padding: 5px 0;
    display: inline-block;
}

.project-link:hover {
    color: white;
    text-decoration: underline;
}

.private-link {
    color: #ff6666;
}