.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    transition: transform 0.15s, box-shadow 0.3s;
}

.project-card:hover {
    transform: scale(1.02);
    .description {
        color: #ffffff;
    }
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

.project-info h3 {
    font-size: 1.4rem;
    color: var(--accent-color);
    margin: 0;
}

.description {
    font-size: 0.95rem;
    color: #b0b0b0;
    margin-bottom: 20px;
    flex-grow: 1;
    transition: all 0.3s;
}

.tag {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 16px;
    background-color: var(--text-color);
    color: #000;
}

.project-link {
    font-size: 0.9rem;
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.2s;
    padding: 5px 0;
    display: inline-block;
}

.project-link:hover {
    color: white;
    text-decoration: underline;
}

.private-link {
    color: #ff6666;
}

@media(max-width: 600px) {
    .project-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}