.skills-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skill-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 20px;
}

.skill-name {
    font-weight: bold;
    color: var(--accent-color);
}

.skill-bar-container {
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    height: 10px;
}

.skill-bar {
    height: 100%;
    background-color: var(--accent-color);
    transition: width 0.8s ease-out;
}