.container {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pagamo-block {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    line-height: 1.5;
    padding: 15px;
    background-color: #212121;
    border-radius: 8px;
}

.section p {
    font-size: 1rem;
}

@media (max-width: 600px) {
    .container {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}