.App {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

main {
    flex: 1;
}