.intro-card.birthday-card {
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border: none;
}

.birthday-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.music-btn {
    margin-left: 12px;
    padding: 8px 12px;
    font-size: 1.2rem;

    background: rgba(0, 0, 0, 0.6);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);

    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.music-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--accent-color);
}

#fireworks-canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.intro-card.birthday-card:hover {
    transform: scale(1.02);
}

.birthday-headline {
    color: #FFDE00;
    font-size: 2.5em;
    animation: sparkle 1s infinite alternate;
}

.personal-message-section {
    margin: 30px 0;
    padding: 20px;
    font-style: italic;
    line-height: 1.6;
    color: #fff;
}

.signature {
    margin-top: 15px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
    color: #777;
}

@keyframes sparkle {
    from {
        transform: scale(1);
        opacity: 0.9;
    }
    to {
        transform: scale(1.02);
        opacity: 1;
    }
}