.intro-card h2 {
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.intro-card p {
    font-size: 1.1rem;
    line-height: 1.7;
}

.button-group {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 30px;
}

.btn {
    text-decoration: none;
    color: var(--text-color);
    outline: 0;
    background-color: var(--accent-color);
    padding: 0.75rem 1.25rem;
    border-radius: 9999px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: all 0.2s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px var(--accent-color);
}