.intro-card h2 {
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: center;
}

.intro-card p {
    font-size: 1.1rem;
    line-height: 1.7;
    text-align: center;
}

.button-group {
    display: grid;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.header-group {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-bg);
    border-radius: 28px;
    padding: 25px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.header-group:hover {
    box-shadow: var(--box-shadow);
}

.header-group h1 {
    color: var(--accent-color);
    font-size: 4.5rem;
}

#avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.25rem;
    margin-top: 1px;
    transition: transform 0.3s ease;
}

.btn {
    text-decoration: none;
    color: var(--text-color);
    outline: 0;
    background-color: var(--accent-color);
    padding: 0.75rem 1.25rem;
    border-radius: 9999px;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px var(--accent-color);
}

@media (max-width: 600px) {
    .button-group {
        grid-template-columns: repeat(2, 4fr);
    }
    #avatar {
        width: 4rem;
        height: 4rem;
    }
    .header-group h1 {
        font-size: 3.5rem;
    }
}