.intro-card h2 {
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    text-align: center;
}

.intro-card p {
    font-size: 1.1rem;
    line-height: 1.7;
    text-align: center;
}

.button-group {
    display: grid;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.header-group {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-bg);
    border-radius: 28px;
    padding: 25px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 80px rgba(0, 152, 238, 0.2);
}

.header-group:hover {
    box-shadow: 0 0 20px rgba(0, 152, 238, 0.5);
}

.header-group h1 {
    color: var(--accent-color);
    font-size: 4.5rem;
}

#avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.25rem;
    margin-top: 1px;
    transition: transform 0.3s ease;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0.75rem 1.25rem;
    border-radius: 9999px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-icon {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.btn-discord {
    background: #5865f2;
}
.btn-discord:hover {
    box-shadow: 0 0 12px #5865f2;
}

.btn-youtube {
    background: #ff0000;
}
.btn-youtube:hover {
    box-shadow: 0 0 12px #ff0000;
}

.btn-instagram {
    background: linear-gradient(
            to right,
            #833ab4,#fd1d1d,#fcb045
    );
}
.btn-instagram:hover {
    box-shadow: 0 0 12px #833ab4;
}

.btn-github {
    background: #24292f;
}

.btn-github:hover {
    box-shadow: 0 0 12px #24292f;
}

@media (max-width: 600px) {
    .button-group {
        grid-template-columns: repeat(2, 4fr);
    }
    #avatar {
        width: 4rem;
        height: 4rem;
    }
    .header-group h1 {
        font-size: 3.5rem;
    }
}