:root {
    --bg-color: transparent;
    --text-color: #ffffff;
    --accent-color: #0098EE;
    --card-bg: rgba(0, 0, 0, 0.3);
    --font-mono: JetBrains Mono, Menlo, Consolas, "Courier New", monospace
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    min-height: 100vh;
    background: #000000;
    font-family: var(--font-mono), monospace;
    color: var(--text-color);
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}